*{
    list-style: none;
    text-decoration: none;color: inherit;
    font-family: 'IBM Plex Sans', sans-serif;
    
}

.container-menu {
    display: flex;
    inset: 0;
    width: 98vw;
    height: 63px;
    background: #ffffff;
    box-shadow: 0px 4px 40px -15px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
  }


.fileira {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-inline-end: 270px;
}

.card{
    border: 4px solid #F5F5F5;
    width: 296px;
    height: 408px;
    margin-top: 30px;
}

.card:hover{
    border: 4px solid #37268C;
}
 
.categoria {
    color: #ffffff;
    background-color: #2E245E;
    width: 80px;
    padding: 4px;
    cursor: pointer;
    
}

.dados-produto{
    margin: 10px 10px
}

.preco-produto{
    color: #2E245E;
}

.imagem-produto{
    background-color: #F5F5F5;
    width: 100%;
    height: 35%;
    margin: 0px;
    cursor: pointer;
    
}

.adicionar-carrinho{
    cursor: pointer;
}

.adicionar-carrinho:hover{
    color: #37268C;
}

.titulo-menu{
    margin-left: 100px;
    cursor: pointer;
}

.lista-menu{
    display: flex;
    cursor: pointer;
    align-items: center;
}


.itens-menu{
    margin: 15px;
}

.itens-menu:hover{
    color:#37268C
}

.barra-pesquisa{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 350px;
    left: 1100px;
    top: 117px;
    
}
 
#pesquisa::placeholder{
    display: inline;
    background-color: #F5F5F5;
    color:black;
}

.botao{
    height: 60px;
    border: none;
    background-color: #37268C;
    color:#ffffff;
    cursor: pointer;
    
}

.texto{
    height: 60px;
    background-color: #F5F5F5;
    cursor: pointer;
    border: none;
    outline: none;
}

.carrinho-de-compras{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 214px;
}


.rodape-carrinho{
    background-color: rgb(51, 51, 51);
    height: 150px;
    width: 250px;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    display: inline;
}

.titulo-carrinho{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #37268C;
    color: #ffffff;
    height: 40px;
    font-size: large;
    width: 250px;
    margin-bottom: 0px;
}

.div-carrinho-vazio{
    display: flex;
    align-items: center;
}

.fundo-carrinho{
    justify-content: left;
    align-items: left;
    background-color: #F5F5F5;
    width: 240px;
    height: 800px;   
    padding-top: 20x;
    padding-left: 10px;
}

.produto-carrinho{
    display: flex;
    justify-content: center;
    font-size: medium;
    margin: 0px;

}

.adicionar{
    display: flex;
    justify-content: center;
    font-size: small;
   cursor: pointer;
   
}

.adicionar:hover{
    color: #37268C;
}

.remover-produto{
    cursor: pointer;
}

.remover-produto:hover{
    color: #37268C;
}

.div-carrinho-itens{
    display:flex;
    flex-direction: column;
    
}

.div-carrinho-vazio{
    display:flex;
    flex-direction: column;
    
}

.imagem-carrinho{
    height: 100px;
    width: 100px;
}

.div-itens-carrinho{
    
}